<html>
   <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='links.js') }}"></script>
      <style>
      </style>
   </head>

   <body>
      <p>Hello</p>

      <form enctype="multipart/form-data" method="POST">
         <div "url_input_div">
            <label for="full_url_input">Full URL:</label>
            <input name="full_url" id="full_url_input" type="text" size="50" />
         </div>

         <div id="imgfile_input_div">
            <label for="imgfile_input">Image file:</label>
            <input name="imgfile" id="fimgile_input" type="file" />
         </div>

         <div id="submit_div">
            <input id="shorten_button" type="submit" value="Shorten" />
         </div>
      </form>

      {% if short_url %}
      <div id="short_url"><a href="{{ short_url }}">{{ short_url }}</a></div>
      {% else %}
      <div id="short_url">{{ base }}NEW_SHORT_CODE</div>
      {% endif %}

      <table id="recent">
      </table>

   </body>
</html>
