<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='links.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
      <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
   </head>

   <body>
      <div class="container">
      <div class="row">
         <div class="span9">
            <h1>Links<br/><small>Aimee's URL Shortener</small></h1>
         </div>
      </div>

      <div class="row">
         <div class="span5">
            <form enctype="multipart/form-data" method="POST" action="/api/v1/post">
               <legend>Shorten URL</legend>
               <label for="full_url_input">Full URL:</label>
               <input name="full_url" id="full_url_input" type="text" size="50" placeholder="Enter a URL"/>
               <input id="shorten_button" type="submit" value="Shorten" class="btn"/>
            </form>
         </div>

         <div class="span7">
            <form enctype="multipart/form-data" method="POST" action="/api/v1/post">
               <legend>Upload a File</legend>
               <label for="imgfile_input">Image file:</label>
               <input name="file" id="imgfile_input" type="file" class="btn"/>
               <input id="upload_button" type="button" value="Shorten" class="btn"/>
            </form>
         </div>
      </div>

      <div class="row">
         <div class="progress" style="height:2em;">
            <div id="progress_bar" class="bar" style="width:100%">short URL</div>
         </div>
      </div>

      <div class="row">
         <div class="span12">
            <h4>Previously shortened links</h4>
            <table id="recent" class="table table-hover"></table>
         </div>
      </div>
   </div>
   </body>
</html>
