<html>
   <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='activity.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
   </head>

   <body class="image" background="{{ url_for('static', filename='bg.jpg') }}">
      <span id="hit_code">{{ data.hit_code }}</span>

      <div id="img_wrapper">
         <div id="img_header">
            <span>{{ data.img_filename }}</span>
         </div>

         <div id="img_container">
         {% if data.media_type == 'YOUTUBE' %}
            <iframe width="640" height="480" src="{{ data.img_url }}" frameborder="0" allowfullscreen></iframe>
         {% elif data.media_type == 'BINARY' %}
         <a href="{{ data.img_url }}">
            <img src="{{ url_for('static', filename='binary.png') }}"/>
            <p>Click to download {{ data.img_filename }} ({{ data.file_size|filesizeformat(True) }})</p>
         </a>
         {% else %}
            <a href="{{ data.img_url }}"><img src="{{ data.img_thumb_url }}" /></a>
         {% endif %}
         </div>
      </div>
   </body>
</html>
