<html>

<head>
   <link href="{{ url_for('static', filename='stats.css') }}" rel="stylesheet" type="text/css"/>
   <link href="{{ url_for('static', filename='flags.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>
   <h1><span>{{ p.short_url }}</span></h1>

   <div id="social" class="url_info_box">
      <table>
         <tr>
            <th colspan="2">Social Media</th>
         </tr>

         {% for post in p.social %}
         <tr>
            <td>
               {{ post.handle }}
               <br/>
               <img src="{{ post.img_url }}"></td>
            <td>
               <span>{{ post.text|safe }}</span>
               <br/>
               <a href="{{ post.url }}">{{ post.when }}</a>
            </td>
         </tr>
         {% endfor %}

      </table>
   </div>

   <div id="basic_info" class="url_info_box">
      <table>
         <tr>
            <th colspan="2">Basic Info</th>
         </tr>
         <tr>
            <td>Title</td>
            <td>{{ p.title }}</td>
         </tr>
         <tr>
            <td>Description</td>
            <td>{{ p.description }}</td>
         </tr>
         <tr>
            <td>Link type</td>
            <td>{{ p.link_type }}</td>
         </tr>
         <tr>
            <td>Mime type</td>
            <td>{{ p.mime_type }}</td>
         </tr>
         <tr>
            <td>Content length</td>
            <td>{{ p.contentlength }}</td>
         </tr>
         <tr>
            <td>Clicks</td>
            <td>{{ p.hits|length }}</td>
         </tr>
         <tr>
            <td>Short URL</td>
            <td><a href="{{ p.short_url }}">{{ p.short_url }}</a></td>
         </tr>
         <tr>
            <td>Long URL</td>
            <td><a href="{{ p.long_url }}">{{ p.long_url }}</a></td>
         </tr>
      </table>
   </div>
   <br/>

   <div id="refer_sites" class="url_info_box">
      <table>
         <tr>
            <th>Referring Site</th>
            <th>Hits</th>
         </tr>
         {% for ref in p.referrers %}
         <tr>
            <td>{{ ref }}</td>
            <td>{{ p.referrers[ref] }}</td>
         </tr>
         {% endfor %}
      </table>
   </div>

   <div id="refer_locations" class="url_info_box">
      <table>
         <tr>
            <th>IP</th>
            <th>CC</th>
            <th>Hits</th>
         </tr>
         {% for loc in p.locations %}
         <tr>
            <td>{{ loc }}</td>
            <td>{{ p.locations[loc][0] }}</td>
            <td>{{ p.locations[loc][1] }}</td>
         </tr>
         {% endfor %}
      </table>
   </div>
   <br/>

   <div class="url_info_box">
      <table>
         <tr>
            <th>Time</th>
            <th>Method</th>
            <th>Referrer</th>
            <th>IP</th>
            <th>CC</th>
            <th>Agent</th>
            <th>Act</th>
         </tr>
         {% for hit in p.hits %}
         {% if hit.bot %}
         <tr style="background-color: #faa">
         {% else %}
         <tr>
         {% endif %}
            <td>{{ hit.time }}</td>
            <td>{{ hit.method }}</td>
            <td>{{ hit.referrer }}</td>
            <td>{{ hit.remote_addr }}</td>
            <td>
               <img src="" class="flag flag-{{ hit.cc.lower() }}" title="{{ hit.cc }}" alt="{{ hit.cc }}"/>
               <span>{{ hit.area.city }}, {{ hit.area.region_name }}</span>
            </td>
            <td><a title="{{ hit.agent }}">{{ hit.agent[:20] if hit.agent }}</a></td>
            <td>
               {% if hit.activity %}✔{% endif %}
            </td>
         </tr>
         {% endfor %}
      </table>
   </div>

</body>
</html>
