<html>

<head>
   <style>
      .url_info_box {
         border: 1px solid #000;
         width: 100%
      }
      .url_info_box img {
         float: right;
      }
      .url_info_box th {
         background: #AAA;
      }
      .url_info_box td {
         border-top: 1px solid #000;
         padding-right: 1em;
      }

   </style>
</head>

<body>
   <h1><span>{{ p.short_url }}</span></h1>

   <div class="url_info_box">
      <table>
         <tr>
            <th colspan="2">Basic Info</th>
         </tr>
         <tr>
            <td>Title</td>
            <td>{{ p.title }}</td>
         </tr>
         <tr>
            <td>Clicks</td>
            <td>{{ p.hits|length }}</td>
         </tr>
         <tr>
            <td>Short URL</td>
            <td><a href="/{{ p.short_code }}">{{ p.short_url }}</a></td>
         </tr>
         <tr>
            <td>Long URL</td>
            <td><a href="{{ p.long_url }}">{{ p.long_url }}</a></td>
         </tr>
      </table>
   </div>
   <br/>

   <div class="url_info_box">
      <table>
         <tr>
            <th>Referring Site</th>
            <th>Hits</th>
         </tr>
         {% for ref in p.referrers %}
         <tr>
            <td>{{ ref }}</td>
            <td>{{ p.referrers[ref] }}</td>
         </tr>
         {% endfor %}
      </table>
   </div>
   <br/>

   <div class="url_info_box">
      <table>
         <tr>
            <th>IP</th>
            <th>Hits</th>
         </tr>
         {% for loc in p.locations %}
         <tr>
            <td>{{ loc }}</td>
            <td>{{ p.locations[loc] }}</td>
         </tr>
         {% endfor %}
      </table>
   </div>
   <br/>

   <div class="url_info_box">
      <table>
         <tr>
            <th>Time</th>
            <th>Referrer</th>
            <th>IP</th>
            <th>Agent</th>
         </tr>
         {% for hit in p.hits %}
         <tr>
            <td>{{ hit.time }}</td>
            <td>{{ hit.referrer }}</td>
            <td>{{ hit.remote_addr }}</td>
            <td>{{ hit.agent }}</td>
         </tr>
         {% endfor %}
      </table>
   </div>

</body>
</html>
